<h1>Home#index</h1>

<h2>Queries</h2>
<%= link_to 'New Query', new_query_path %>
<br>
<small>最近更新された10件</small>
<%= render :partial => '/queries/list' %>
<hr>
<h2>Categories</h2>
<%= link_to 'New Category', new_category_path %>
<%= render :partial => '/categories/list' %>
