default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:
  host: localhost

development:
  <<: *default
  database: ironman

production:
  <<: *default
  database: ironman

test:
  <<: *default
  database: ironman

# Please write your information of DB connecting
extend_db:
  adapter: postgresql
  database:
  host:
  username:
  password:
  encoding: utf8
  timeout: 1200
