<p id="notice"><%= notice %></p>

<h1>Editing Query</h1>

<%= link_to 'Show', @query, class: "form_link" %> |
<%= link_to 'Back', queries_path, class: "form_link" %>
<%= render 'form', query: @query %>
